body {
    background-image: url(https://media.istockphoto.com/id/821760914/vector/pastel-multi-color-gradient-vector-background-simple-form-and-blend-with-copy-space.jpg?s=612x612&w=0&k=20&c=adwrMs3MkPLXMb69AYSoMpnCfLSAb_D3PCQRGGXiM5g=);
    background-size: cover;
    background-repeat: no-repeat;
}
h1{
    text-align: center;
    margin-top: 10px;
    font-style: italic;
}
.container{
    display: flex;
    justify-content:space-evenly;
    line-height: 50px;
    font-size: 20px;
    font-style: oblique;
}
.gram_pavan{
    border: 2px solid black;
    margin: 20px;
    padding: 40px;
    box-shadow: 2px 2px 1px black;
}
.pavan_gram{
    border: 2px solid black;
    margin: 20px;
    padding: 40px;
    box-shadow: 2px 2px 1px black;
} 
.gram_pavan button{
    margin-top: 10px;
    margin-left: 35px;
    width: 150px;  
    box-shadow: 2px 2px 1px black;
    border-radius: 20px;
}
.pavan_gram button{
    margin-top: 10px;
    margin-left: 35px;
    width: 150px;
    box-shadow: 2px 2px 1px black;
    border-radius: 20px;
}
.gram_pavan button:hover{
    background-color: lightpink;
}
.pavan_gram button:hover{
    background-color: lightpink;
}
